* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: minmax(250px, 1fr) 5fr;
  height: 100vh;
}

.sidebar {
  background-color: #357ec7;
  color: white;
}

.dashboard {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
  padding: 20px;
}

.dashboard-title {
  height: 100%;
  width: 100%;
  font-size: 30px;
}

.dashboard > img {
  width: 50px;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 20px;
  /*font-family: "Exo", sans-serif;*/

}

.option {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.option > img {
  margin-left: auto;
  margin-right: auto;
  width: 30px;
}

.title {
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

a:hover {
  color: grey;
}

.settings {
  margin-top: 60px;
}

.icon {
  filter: invert(100%);
}
